{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<form method="POST">
    <h1 align="center">Blame Eve!</h1>
    <h3 align="center">The Period Tracker for People with Periods!</h3>
    <br />
    <br />
    <br />
    <h3 align="center">Log in</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter email"
        />
    </div>

    <div>
        <label for="password">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Enter password"
        />
    </div>

    <br />
    <button type="submit" class="btn btn-dark">Login</button>
    <br />
    <div align="center">
        <p>If you do not have an account</p>
        <a href="/signup">Signup</a>
    </div>
   
</form>
{% endblock %} 